{% extends 'base.html.twig' %}
{% set title = "Création d'un nouveau contact"%}
{% set boutonText = '' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block body %}
    <h1>{{ title }}</h1>
{% endblock %}


