{% extends 'base.html.twig' %}

{% block title %} Hello {% endblock %}

{% block body %}
    <ul>
        <li><a href="{{ path('app_hello_manytimes',{name: 'Joe',time: 5}) }}"> Créer 5 Joe</a></li>
        <li><a href="http://localhost:8000/hello/bob/8"> Créer 8 Bob</a> </li>
    </ul>
{% endblock %}
