{% extends 'base.html.twig' %}

{% block title %}
    Hello many times
{% endblock %}
{% block body %}
    <h1>
        Hello many times {{ name }}!
    </h1>
    {% for i in 1..time %}
    <p>Hello {{ name | capitalize }}!</p>
    {% endfor %}
{% endblock %}



